*~
*.pyc
*.rst
!README.rst
*.md
*.iml
.git*
.b2*
.coverage
.mypy_cache
.style.yapf
docs
charts
website
etc
!etc/benji-minimal.yaml
rpm
scripts
maint-scripts
tests
**/tests
tests-scratch
**/__pycache__
