.*.swo
*.cpt.py
*.egg-info
*.html.py
*.log
*.log.*.gz
*.pid
*.pt.py
*.pyc
*.pyo
*.sqlite3
*.swp
*.tmproj
*.zpt.py
.DS_Store
.Python
.installed.cfg
.loadpath
.mr.developer.cfg
.project 
.svn
htmlcov
report.xml
*..data*
*..index*
*.iml
.coverage
data
benji.yaml
benji.pex
build
tags
.cache
.pybuild
dist
.github-access-token
*~
.b2-application-key.txt
.b2-account-id.txt
tests-scratch
.mypy_cache
